<head>
  <meta charset="utf-8">
  <title>
    <%= title %>
  </title>
  <link href="/style.css" rel="stylesheet" type="text/css">
  <script src="/styleScripts.js"></script>
  <script src="https://kit.fontawesome.com/4f02c28db5.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>